
.homePageVideo{
    
    width: 100%;
    margin: 0;
}
.overlay{
   position: relative;
    width: 100%;
    margin: 0;
}
#homeVideo{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.videoVideo{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.videoOverlay{
    
    background-color:rgba(193 212 200 / 30%) ;
    
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.homePageText{
    position: absolute;
    top: 60%;
    left: 20%;
}
.homePageDescription {
    font-weight: 800;
    color: white;
}
.homePageDescription h2 {
    font-weight: 700;
    color: white;
}
.cardDiv{
    padding: 2rem 1rem;
    background-color: rgba(236, 239, 249,0.7);
    border-radius: 20px;
    gap: 1rem;
    display: flex;
}
    label{
        display: block;
        color: rgb(73, 65, 65);
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
    }
    .label_total{
        justify-content: space-between;
        align-items: center;
    }
        .total{
            color: rgb(104, 101, 101);
            font-size: 18px;
            padding-bottom: 10px;
        }

    .input{
        height: 40px;
        padding: 0 1rem;
        background-color: rgb(231, 249, 255);
        border-radius: 3rem;
    }
        input{
            background: none;
            border: none;
            outline: none;
            width: 100%;
            font-size: 13px;
            font-weight: 500;
        }
            &::placeholder{
                font-size: 13px;
            }
            
        .icon{
            font-size: 18px;
            color: rgb(84, 72, 72);
            margin-top: 10px
        }
    .homePageFilterIcon{
        margin-top: 0.7rem;
    }
/*Media Queries  */
@media screen and (max-width: 1240px){
    .cardDiv{
        display: grid;
    }
    .homePageText{
        top:15%;
        left:30%;
    }
    .home, .overlay, .homePageVideo, .videoVideo, #homeVideo{
        height: 90vh;
        width: auto;
      }
}
@media screen and (max-width: 540px){
    .cardDiv{
        display: grid;
    }
    .homePageText{
        top:15%;
        left:20%;
    }
 
}